
@{
    ViewData["Title"] = "Delete";
}

@model Category

<h1>Delete Category</h1>

<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled/>
        
    </div>
    <div>
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" disabled/>
    </div>
    <div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-danger" asp-controller="Category" asp-action="Index">Return to Index</a>
    </div>
</form>

